/code/SocketCliente/build/
/code/SocketCliente/dist/
/code/SocketCore/nbproject/private/
/code/SampleCliente/build/
/code/SocketCore/build/
/code/SocketClient/nbproject/private/
/code/SampleCore/nbproject/private/
/code/SampleClient/nbproject/private/
/code/SampleCore/build/
/code/SocketClient/build/
/code/SampleClient/build/